<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
	
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Porta Para XRPL Legal</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/css/linearicons.css">
			<link rel="stylesheet" href="/css/font-awesome.min.css">
			<link rel="stylesheet" href="/css/bootstrap.css">
			<link rel="stylesheet" href="/css/magnific-popup.css">
			<link rel="stylesheet" href="/css/nice-select.css">					
			<link rel="stylesheet" href="/css/animate.min.css">
			<link rel="stylesheet" href="/css/owl.carousel.css">
			<link rel="stylesheet" href="/css/main.css">
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script>!function(e,o,t){e[t]=function(n,r){var c={sandbox:"https://sandbox-merchant.revolut.com/embed.js",prod:"https://merchant.revolut.com/embed.js",dev:"https://merchant.revolut.codes/embed.js"},d=o.createElement("script");d.id="revolut-checkout",d.src=c[r]||c.prod,d.async=!0,o.head.appendChild(d);var s={then:function(r,c){d.onload=function(){r(e[t](n))},d.onerror=function(){o.head.removeChild(d),c&&c(new Error(t+" is failed to load"))}}};return"function"==typeof Promise?Promise.resolve(s):s}}(window,document,"RevolutCheckout");</script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		</head>
		<style>
		.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
		</style>
		<body>
		  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
						<img src="/images/logo.png" class="rounded" alt="Porta Para XRPL Logo" width="64">
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active "><a href="/">Home</a></li>
				          <li><a href="/profile">Profile</a></li>
				          <li><a href="/logout">Log Out</a></li>
				          <li><a href="/fees">Fees</a></li>
				    
				            </ul>
				          </li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->

<div class="page-header text-center">
				 <img src="/images/logo.png" class="rounded" alt="Porta Para XRPL Logo">
				 </div>
				 
<div class="container text-center">
<h6>Porta Para XRPL Legal</h6>
<h3>Welcome To Porta Para XRPL</h3>
<p>By using this website (“Site”), registering for a Porta Para XRPL Account (“Account”), or using any of our Porta Para XRPL Services, you ("you, your, or yourself") are agreeing to accept and comply with the terms and conditions of use stated below ("Terms of Use"). You should read the entire Terms of Use carefully before you use this Site or any of the Porta Para XRPL Services.

	Our Terms of Use is a legally binding agreement between you and us. You should read this carefully because it will define your rights and responsibilities in dealing with us.
	
	As used in this Terms of Use, “Porta Para XRPL" refers to the company Porta Para XRPL Limited, including, without limitation, its owners, directors, investors, employees or other related parties. Depending upon the context, "Porta Para XRPL" may also refer to the services, products, website, content or other materials (collectively, "Porta Para XRPL Services") provided by Porta Para XRPL.
	
	The Service operated by Porta Para XRPL enables our customers to access and use the XRP Ledger (“XRPL”), formerly known as Ripple Consensus Ledger. Customers can monitor their XRP accounts and perform transactions.
	
	Please take note: Porta Para XRPL will not be responsible for any damages resulting from bugs, vulnerabilities or other problems that may exist, now or in the future, in the XRP Ledger. Porta Para XRPL is not the developer of nor is it a guarantor of the XRP Ledger.</p>

	<h3>Verification</h3>
	<p>
		Porta Para XRPL will do everything we can to respect and protect the privacy of our customers. However, we are required to first verify who you are, and make sure you are not using the Site for illegal transactions, or terror financing.
		
		For the purpose of verification, we will collect the following kinds of identity documents from you:
		
		Yoti KYC App.

		After this "verification" by Porta Para XRPL, our customers will be able to trade issued IOU's using their own XRPL wallets natively on the XRP Ledger DEX.</p>
		<h3>UK Law</h3>
		<p>As a British based company, Porta Para XRPL is governed by UK law. Porta Para XRPL is prohibited from transacting with individuals, companies and countries that are on prescribed sanctions lists. Porta Para XRPL will therefore screen against United Nations, European Union, UK Treasury and US Office of Foreign Assets Control (OFAC) sanctions lists in all jurisdictions in which we operate.

			It is your own responsibility to follow those rules and laws in your country of residence and/or country from which you access this Site and Services.</p>
		<h3>Funding Account</h3>
		<p>Users can deposit and withdraw money to Porta Para XRPL using any of the following methods:

			Uphold;
			
			XRP Ledger IOUs (27 issued IOU's).
			A user needs to be verified in order to make transactions. Third party deposits or withdrawals are NOT permitted (Uphold Only).</p>

			
  </div>
 			<!-- start footer Area -->		
			 <footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
							</div>
						</div>
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Top Products</h4>
								<ul class="footer-menu">
									<li><a href="#">Managed Website</a></li>
									<li><a href="#">Managed Reputation</a></li>
									<li><a href="#">Managed Tools</a></li>
									<li><a href="#">Managed Service</a></li>
								</ul>
									
							</div>
						</div>						
						<div class="col-lg-6  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Newsletter</h4>
								<p class="text-white">You can trust us. we only send  offers, not a single spam.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">
									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on">
									      	<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>
								</div>
							</div>
						</div>						
					</div>
					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
						<p class="footer-text text-white m-0">
							<script>document.write(new Date().getFullYear());</script> 
						</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="/js/easing.min.js"></script>			
			<script src="/js/hoverIntent.js"></script>
			<script src="/js/superfish.min.js"></script>	
			<script src="/js/jquery.ajaxchimp.min.js"></script>
			<script src="/js/jquery.magnific-popup.min.js"></script>	
			<script src="/js/owl.carousel.min.js"></script>			
			<script src="/js/jquery.sticky.js"></script>
			<script src="/js/jquery.nice-select.min.js"></script>			
			<script src="/js/parallax.min.js"></script>	
			<script src="/js/waypoints.min.js"></script>
			<script src="/js/jquery.counterup.min.js"></script>			
			<script src="/js/mail-script.js"></script>	
			<script src="/js/main.js"></script>	
  </body>
