<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Mobile Specific Meta -->
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Favicon-->
 <link rel="shortcut icon" href="img/fav.png">
 <!-- Author Meta -->
 <meta name="author" content="codepixer">
 <!-- Meta Description -->
 <meta name="description" content="">
 <!-- Meta Keyword -->
 <meta name="keywords" content="">
 <!-- meta character set -->
 <meta charset="UTF-8">
 <!-- meta monitization -->
 <!-- <meta name="monetization" content="$ilp.uphold.com/mbEiWZJmRzeq" /> -->
 <!-- Site Title -->
 <meta http-equiv="refresh" content="0; URL=https://portaparaxrpl.hopto.org:3000/authenticate" />
 <meta http-equiv="Content-Security-Policy" content="default-src data: gap://* file://* https://ssl.gstatic.com *; img-src 'self' * data:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-eval' 'unsafe-inline' *; connect-src 'self' * ws://* wss://*;">
 <title>Verify</title>

 <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- Plugin CSS -->
  <link rel="stylesheet" href="/stylesheets/devicemockups/device-mockups.min.css">
  
  <!-- Custom styles for this template -->
<link href="/stylesheets/css/new-age.min.css" rel="stylesheet">

 <style>
  body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
 </style>
</head>
<body id="page-top">
  <header id="header" id="home">
    <div class="container">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <img src="/images/logo.png" class="rounded" alt="Porta Para XRPL Logo" width="64">
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu ">
            <li class="menu-active "><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/legal">Legal</a></li>
            <li class="menu-has-children"><a href="">More</a>
              <ul>
          <li><a href="/fees">Porta Para XRPLFees</a></li>
          <li><a href="/guide">Porta Para XRPL How To Guide</a></li>
          <li><a href="/transparency">Porta Para XRPl Transparency</a></li>
           <li><a href="/logout">Log Out</a></li>
              
              </ul>
            </li>
          </ul>
        </nav><!-- #nav-menu-container -->		    		
      </div>
    </div>
  </header><!-- #header -->
<div class="page-header text-center">
<div> 

<p>XUMM Two Factor Authentication Page</p> 

</div>
  
 <img src="/images/xummlogo/xumm-logo.svg" class="img-fluid" alt="XUMM Logo"  width=150" height="150">
	</div>			
    
  <div class="text-center">
         
    <span id="name" > XUMM Login Address</span>
    <br></br>
   
    <br></br>
    
<a id="link" href="">

         <img id="image" alt="Xumm-QRcode" width=150" height="150">
      </a>
     
 
    </div>   
    <div class="text-center">
<span>Verification Expires in: </span>
<span id="countdown">300</span> second<span id="plural">s</span>
</div>

<div class="container h-100">
  <div class="row h-100">   
    <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait black">
            <div class="device">
              <div class="screen">
               <img src="/images/PortaXumm.jpeg" class="img-fluid" alt="Xumm Logo">
              </div>
              <div class="button" href="https//xumm.app">
               
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
   </div>
  </div>   
 
 			<!-- start footer Area -->		
       <footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
							</div>
						</div>
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Top Products</h4>
								<ul class="footer-menu">
									<li><a href="#">Managed Website</a></li>
									<li><a href="#">Managed Reputation</a></li>
									<li><a href="#">Managed Tools</a></li>
									<li><a href="#">Managed Service</a></li>
								</ul>
									
							</div>
						</div>						
						<div class="col-lg-6  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Newsletter</h4>
								<p class="text-white">You can trust us. we only send  offers, not a single spam.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">
									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on">
									      	<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>
								</div>
							</div>
						</div>						
					</div>
					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
						<p class="footer-text text-white m-0">
							<script>document.write(new Date().getFullYear());</script> 
						</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	
      

    var socket = io('https://portaparaxrpl.hopto.org:3000');
    
	var web;
    socket.on('QR', function (data) {
    	
    	document.getElementById('image').src=(data);
    	document.getElementById('name').innerHTML=(data);
    	
    	web = data;
    });
    socket.on('NEXT', function (data) {
    	var link = data
    	document.getElementById("link").setAttribute("href", link);
    });
    
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        (seconds == 1) ? document.getElementById("plural").textContent = "": document.getElementById("plural").textContent = "s";
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);
    </script>
    <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="/javascripts/new-age.min.js"></script>
    </html>
    
